.account {
  padding-top: var(--inner-offset-top-mobile);
  padding-bottom: var(--inner-offset-bottom-mobile);
  background-color: var(--color-background);
}
.account .account__container {
  max-width: 1432px;
  margin: 0 auto;
  padding: 0 16px;
}
.account .account__row-wrapper {
  background-color: var(--color-background-secondary);
}
.account .account__heading {
  margin-bottom: 32px;
  padding: 0 16px;
  text-align: center;
}
.account .account__subheading {
  padding: 16px;
  border-bottom: 1px solid var(--color-border-secondary);
}
.account .account__user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 16px;
  background-color: var(--color-accent);
  border-radius: calc(var(--global-border-radius) * 2);
}
.account .account__row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1312px;
  margin: 0 auto;
  padding: 32px 16px;
}
.account .account__orders-none {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-border-secondary);
}
.account .account__orders-none-text {
  line-height: 1.5;
  text-align: center;
}
.account .account__orders-none-link {
  margin-top: 16px;
}
.account .account__orders-none-decoration {
  position: relative;
  margin-bottom: 16px;
}
.account .account__orders-none-decoration::before {
  content: "0";
  position: absolute;
  bottom: 2px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.5px 9px;
  background-color: var(--color-background-secondary);
  border-radius: 50%;
  font-weight: 500;
  font-size: calc(var(--body-font-size) * 0.625);
}
.account .account__orders-none-decoration .icon {
  width: 48px;
  height: 48px;
}
.account .account__orders-none-decoration .icon path {
  stroke-width: 1;
}
.account .account__user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  word-break: break-word;
}
.account .account__mail,
.account .account__address {
  line-height: 1.5;
  color: var(--color-text-primary);
}
.account .account__col {
  width: 100%;
}
.account .account__col.account__col--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-background);
}
.account .account__col.account__col--orders {
  background-color: var(--color-background);
}
.account .account__col .pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.account .account__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account .account__link {
  position: relative;
  display: inline-block;
  width: max-content;
  text-decoration: unset;
}
.account .account__link + .account__link {
  margin-top: 16px;
}
.account .account__link::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(100%);
  transition-timing-function: var(--easing-ease);
  transition-duration: var(--timing-short);
  transition-property: transform;
}
.account .account__link:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .account .account__link:hover::after {
    transform: scaleX(0);
  }
}
.account .account__header {
  display: none;
}
.account .account__header-col {
  width: 20%;
  padding: 12px 24px;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.428;
  color: var(--color-text-thirdly);
}
.account .account__icon {
  position: absolute;
  top: 50%;
  inset-inline-end: 16px;
  transform: translateY(-50%);
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--color-text-primary);
}
.account .account__content-wrapper .icon + .icon {
  display: none;
}
.account .account__content-wrapper.is-active .account__icon .icon {
  transform: none;
  display: none;
}
.account .account__content-wrapper.is-active .icon + .icon {
  display: block;
}
.account .account__content-wrapper.is-active .accordion__content {
  border-bottom: 1px solid var(--color-border-secondary);
}
.account .account__content {
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  padding: 16px;
  border-bottom: 1px solid var(--color-border-secondary);
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.account .account__content:focus-visible {
  outline: 2px solid var(--color-text-primary);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .account .account__content:hover {
    opacity: 0.7;
  }
}
.account .account__order-detail {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid var(--color-border-secondary);
  color: var(--color-text-thirdly);
}
.account .account__order-detail-properties {
  margin-top: 8px;
}
.account .account__order-detail-properties li {
  display: flex;
  align-items: center;
}
.account .account__order-detail-properties li .icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 5px;
}
.account .account__order-detail-properties li + li {
  margin-top: 5px;
}
.account .account__content-col {
  display: flex;
  align-items: baseline;
  padding: 0;
  font-size: var(--body-font-size);
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-text-primary);
  pointer-events: none;
  text-align: start;
}
.account .account__content-col .account__content-col-heading.account__content-col-heading--mobile {
  display: block;
  width: 80px;
  margin-inline-end: 12px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 400;
  line-height: 1.286;
  color: var(--color-text-secondary);
  text-align: start;
}
.account .account__content-col.account__content-col--number p {
  font-size: calc(var(--body-font-size) * 1.125);
}
.account .account__content-col.account__content-col--date, .account .account__content-col.account__content-col--quantity, .account .account__content-col.account__content-col--total {
  display: none;
}
.account .account__content-col.account__content-col--status .account__order-status {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: max-content;
  padding: 6px 8px;
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 500;
  line-height: 1.428;
  border-radius: calc(var(--global-border-radius) * 3.125);
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
}
.account .account__content-col.account__content-col--status .account__order-status.account__order-status--success {
  background-color: var(--color-background-success);
}
.account .account__content-col.account__content-col--status .account__order-status.account__order-status--attention {
  background-color: var(--color-background-attention);
}
.account .account__content-col.account__content-col--status .account__order-status .icon {
  width: 16px;
  height: 16px;
  transform: none;
}
.account .account__accordion-content {
  padding-bottom: 16px;
}
.account .account__order-detail-value {
  margin-inline-start: auto;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.286;
  color: var(--color-text-primary);
}
.account .account__order-detail-value span {
  word-break: break-word;
}
.account .account__order-detail-label {
  font-size: calc(var(--body-font-size) * 0.875);
  font-weight: 400;
  line-height: 1.428;
}
.account .account__order-detail-col {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-inline-end: 0;
  text-align: center;
}
.account .account__order-detail-col.account__order-detail-col--image {
  position: relative;
  padding-top: 16%;
  width: 64px;
  height: 80px;
  overflow: hidden;
}
.account .account__order-detail-col.account__order-detail-col--info {
  width: calc(100% - 76px);
}
.account .account__order-detail-col.account__order-detail-col--prices {
  flex-direction: row;
  width: 100%;
}
.account .account__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-desktop-pos);
}
.account .account__order-detail-prices {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
  font-weight: 500;
}
.account .account__order-detail-headings {
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.286;
  text-align: start;
  color: var(--color-text-thirdly);
}
.account .account__order-detail-headings-title {
  margin-bottom: 8px;
  font-size: var(--body-font-size);
  line-height: 1.5;
  color: var(--color-text-primary);
}
.account .account__order-detail-headings-title + p {
  line-height: 1.428;
}
.account .account__order-address,
.account .account__order-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.account .account__order-address-value,
.account .account__order-subtotal-value {
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.428;
  font-weight: 500;
  text-align: end;
  color: var(--color-text-primary);
}
.account .account__order-address-heading,
.account .account__order-subtotal-heading {
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.428;
  color: var(--color-text-thirdly);
  white-space: nowrap;
}
.account .account__order-view {
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: end;
}
.account .account__order-address-separator {
  flex-grow: 1;
  width: 20%;
  border-bottom: 1px dashed var(--color-border-secondary);
}
.account .account__accordion-info .account__content-col + .account__content-col {
  margin-top: 8px;
}
.account .account__accordion-info.account__accordion-info--mobile {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border-secondary);
}
.account .account__addresses-link,
.account .account__order-view-button {
  width: 100%;
}
@media (min-width: 481px) {
  .account .account__order-view-button {
    width: auto;
  }
  .account .account__addresses-link {
    width: max-content;
  }
}
@media (min-width: 576px) {
  .account .account__order-detail-col.account__order-detail-col--image {
    padding-top: 11%;
  }
}
@media (min-width: 768px) {
  .account {
    padding-top: var(--inner-offset-top);
    padding-bottom: var(--inner-offset-bottom);
  }
}
@media (min-width: 992px) {
  .account .account__subheading {
    padding-left: 24px;
    padding-right: 24px;
  }
  .account .account__content {
    align-items: center;
  }
  .account .account__orders-none {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .account .account__addresses-link {
    width: 100%;
  }
  .account .account__order-address-value,
  .account .account__order-subtotal-value,
  .account .account__order-address-heading,
  .account .account__order-subtotal-heading {
    font-size: var(--body-font-size);
    line-height: 1.5;
  }
  .account .account__order-detail-value {
    margin-inline-start: 0;
    font-size: var(--body-font-size);
    line-height: 1.5;
  }
  .account .account__order-detail-col {
    flex-direction: row;
    gap: 32px;
  }
  .account .account__order-detail-col.account__order-detail-col--image {
    padding-top: 13%;
  }
  .account .account__order-detail-col.account__order-detail-col--image {
    width: 96px;
    height: 120px;
  }
  .account .account__order-detail-col.account__order-detail-col--info {
    width: calc(100% - 112px);
  }
  .account .accordion__control {
    justify-content: start;
  }
  .account .account__order-detail-label {
    margin-bottom: 8px;
  }
  .account .account__accordion-info.account__accordion-info--mobile {
    display: none;
  }
  .account .account__order-address-separator {
    width: auto;
  }
  .account .account__order-detail {
    align-items: center;
  }
  .account .account__content {
    flex-direction: row;
    gap: 0;
    padding: 0;
  }
  .account .account__header {
    display: flex;
    border-bottom: 1px solid var(--color-border-secondary);
  }
  .account .account__icon {
    inset-inline-end: 13px;
  }
  .account .account__order-detail-prices {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;
    margin-top: 0;
    width: 61.974%;
  }
  .account .account__order-detail-prices .account__order-detail-col {
    display: block;
    width: 33%;
  }
  .account .account__order-detail-headings {
    width: 38.026%;
  }
  .account .account__header-col {
    width: 18%;
  }
  .account .account__row {
    flex-wrap: nowrap;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .account .account__heading {
    margin-bottom: 64px;
  }
  .account .account__col.account__col--details {
    width: 25.59%;
    height: max-content;
    padding-left: 24px;
    padding-right: 24px;
  }
  .account .account__col.account__col--orders {
    width: 74.41%;
    height: max-content;
  }
  .account .account__content-col {
    width: 19%;
    padding: 14px 24px;
  }
  .account .account__content-col + .account__content-col {
    display: block;
  }
  .account .account__content-col.account__content-col--number p {
    font-size: var(--body-font-size);
  }
  .account .account__content-col.account__content-col--number {
    margin-bottom: 0;
    font-size: var(--body-font-size);
  }
  .account .account__content-col .account__content-col-heading.account__content-col-heading--mobile {
    display: none;
  }
  .account .account__content-col.account__content-col--number, .account .account__content-col.account__content-col--status {
    display: block;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .account .account__header-col {
    width: 19.403%;
  }
  .account .account__header-col.account__header-col--quantity {
    width: 17.247%;
  }
  .account .account__content-col {
    width: 19.403%;
  }
  .account .account__content-col.account__content-col--quantity {
    width: 17.247%;
  }
}