.blog {
  padding-top: var(--inner-offset-top-mobile);
  padding-bottom: var(--inner-offset-bottom-mobile);
  background-color: var(--color-background);
}
.blog .blog__title {
  margin-bottom: 48px;
  text-align: center;
}
.blog .blog__title.blog__title--empty {
  margin-bottom: 0;
}
.blog .blog__filters-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.blog .blog__filters {
  display: flex;
  align-items: center;
  column-gap: 24px;
  overflow-x: auto;
}
.blog .blog__filters-link {
  padding: 8px 0;
  font-family: var(--heading-font-family);
  font-size: calc(var(--body-font-size) * 1.5);
  line-height: 1.33;
  color: var(--color-text-thirdly);
  white-space: nowrap;
}
.blog .blog__filters-link:focus-visible {
  outline-offset: -2px;
}
.blog .blog__filters-link.is-active {
  color: var(--color-text-primary);
  pointer-events: none;
}
.blog .blog__filters-link.is-active::after {
  width: 100%;
}
.blog .blog__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}
.blog .blog__col {
  width: 100%;
}
.blog .blog__pagination-wrapper {
  display: flex;
  justify-content: center;
}
.blog .blog__pagination-wrapper:not(:empty) {
  margin-top: 32px;
}
.blog .blog__infinite-scroll {
  opacity: 0;
  width: 36px;
  height: 36px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--color-border-primary, #000000);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.blog .blog__lazy-load-button-wrapper {
  display: flex;
  justify-content: center;
}
.blog .blog__lazy-load-button {
  margin-top: 32px;
}
.blog .blog__lazy-load-button.no-events {
  pointer-events: none;
}
.blog .blog__pagination {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .blog {
    padding-top: var(--inner-offset-top);
    padding-bottom: var(--inner-offset-bottom);
  }
  .blog .blog__col {
    width: calc(50% - 12px);
  }
}
@media (min-width: 992px) {
  .blog .blog__title,
  .blog .blog__filters-wrapper {
    margin-bottom: 64px;
  }
  .blog .blog__infinite-scroll,
  .blog .blog__pagination-wrapper:not(:empty) {
    margin-top: 64px;
  }
  .blog .blog__filters-link {
    font-size: calc(var(--body-font-size) * 1.75);
  }
}
@media (max-width: 1199.98px) {
  .blog .blog__filters {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .blog .blog__filters::-webkit-scrollbar {
    display: none;
    display: none;
  }
}
@media (min-width: 1200px) {
  .blog .blog__col {
    width: calc(33.33333% - 16px);
  }
}
@media (min-width: 1501px) {
  .blog .blog__col {
    width: calc(25% - 18px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}