.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--color-background);
}
.footer .footer__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 64px;
}
.footer .footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(400px, 100vw - 32px);
}
.footer .footer__newsletter-heading {
  color: var(--color-text-primary);
}
.footer .footer__newsletter-text {
  margin-top: 16px;
  line-height: 1.5;
  color: var(--color-text-primary);
}
.footer .footer__navigation-item {
  flex: 1;
  min-width: 200px;
}
.footer .footer__navigation-item.footer__navigation-item--contact {
  min-width: 230px;
}
.footer .footer__navigation-item.footer__navigation-item--contact .footer__navigation-list {
  gap: 10px;
}
.footer .footer__navigation-heading {
  color: var(--color-text-primary);
}
.footer .footer__navigation-item-control {
  padding: 0;
  color: var(--color-text-primary);
}
.footer .footer__navigation-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer .footer__navigation-list-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 12px;
  color: var(--color-text-primary);
}
.footer .footer__navigation-list-item .icon:not(.icon-social) {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: block;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.footer .footer__navigation-list-item a:not([class]),
.footer .footer__navigation-list-item .footer__navigation-list-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--global-gap-small);
  padding: 2px 0;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.375;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text-primary);
  word-break: break-word;
  font-size: var(--body-font-size);
  line-height: 1.5;
  text-decoration: none;
  word-wrap: break-word;
}
.footer .footer__navigation-list-item a:not([class]) .icon,
.footer .footer__navigation-list-item .footer__navigation-list-link .icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.footer .footer__navigation-list-item a:not([class]):focus-visible,
.footer .footer__navigation-list-item .footer__navigation-list-link:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.footer .footer__navigation-list-item a:not([class])::after,
.footer .footer__navigation-list-item .footer__navigation-list-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition-property: width;
  transition-duration: var(--timing-base);
}
.footer .footer__navigation-list-item a:not([class]).disabled, .footer .footer__navigation-list-item a:not([class])[disabled],
.footer .footer__navigation-list-item .footer__navigation-list-link.disabled,
.footer .footer__navigation-list-item .footer__navigation-list-link[disabled] {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__navigation-list-item a:not([class]):hover::after,
  .footer .footer__navigation-list-item .footer__navigation-list-link:hover::after {
    width: 100%;
  }
}
.footer .footer__navigation-list-item a:not([class]) span[data-text],
.footer .footer__navigation-list-item .footer__navigation-list-link span[data-text] {
  position: relative;
  display: block;
  overflow: hidden;
}
.footer .footer__navigation-list-item a:not([class]) span[data-text] > span, .footer .footer__navigation-list-item a:not([class]) span[data-text]::after,
.footer .footer__navigation-list-item .footer__navigation-list-link span[data-text] > span,
.footer .footer__navigation-list-item .footer__navigation-list-link span[data-text]::after {
  display: block;
  width: 100%;
  overflow: hidden;
  transform: translateY(0);
  transition: transform var(--timing-base) ease;
}
.footer .footer__navigation-list-item a:not([class]) span[data-text]::after,
.footer .footer__navigation-list-item .footer__navigation-list-link span[data-text]::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__navigation-list-item a:not([class]):hover span[data-text] > span, .footer .footer__navigation-list-item a:not([class]):hover span[data-text]::after,
  .footer .footer__navigation-list-item .footer__navigation-list-link:hover span[data-text] > span,
  .footer .footer__navigation-list-item .footer__navigation-list-link:hover span[data-text]::after {
    transform: translateY(-100%);
  }
}
.footer .footer__navigation-list-item .rte {
  flex: 1;
}
.footer .social-links {
  margin-top: 4px;
}
.footer .social-links .social-links__list {
  column-gap: 12px;
}
.footer .footer__middle-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 40px;
}
.footer .footer__selectors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
}
.footer .footer__payments-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 8px;
  row-gap: 12px;
}
.footer .footer__payments-item {
  display: inline-flex;
  height: 28px;
}
.footer .footer__payments-item svg {
  width: 100%;
  height: 100%;
}
.footer .disclosure__button {
  color: var(--color-text-primary);
}
.footer .footer__logo-container {
  position: relative;
  min-height: 1px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 40px;
}
.footer .footer__logo-container::after, .footer .footer__logo-container::before {
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  background-color: var(--color-border-thirdly);
}
.footer .footer__logo-container:not(:has(.footer__logo-link)) {
  column-gap: 0;
}
.footer .footer__logo-link {
  display: block;
  width: var(--logo-image-width);
}
.footer .footer__logo {
  vertical-align: middle;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.footer .footer__policy-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
}
.footer .footer__bottom-content {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.footer .footer__bottom-content a {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--global-gap-small);
  padding: 2px 0;
  font-size: calc(var(--body-font-size) * 0.875);
  line-height: 1.375;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text-primary);
  word-break: break-word;
  font-size: calc(var(--body-font-size) * 0.875);
}
.footer .footer__bottom-content a .icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}
.footer .footer__bottom-content a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.footer .footer__bottom-content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition-property: width;
  transition-duration: var(--timing-base);
}
.footer .footer__bottom-content a.disabled, .footer .footer__bottom-content a[disabled] {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__bottom-content a:hover::after {
    width: 100%;
  }
}
.footer .footer__bottom-content a span[data-text] {
  position: relative;
  display: block;
  overflow: hidden;
}
.footer .footer__bottom-content a span[data-text] > span, .footer .footer__bottom-content a span[data-text]::after {
  display: block;
  width: 100%;
  overflow: hidden;
  transform: translateY(0);
  transition: transform var(--timing-base) ease;
}
.footer .footer__bottom-content a span[data-text]::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .footer .footer__bottom-content a:hover span[data-text] > span, .footer .footer__bottom-content a:hover span[data-text]::after {
    transform: translateY(-100%);
  }
}
.footer .footer__copyright {
  word-wrap: break-word;
  color: var(--color-text-thirdly);
  font-size: calc(var(--body-font-size) * 0.875);
}
.footer .footer__bottom-divider {
  color: var(--color-text-thirdly);
  font-size: calc(var(--body-font-size) * 0.875);
}
.footer.need-animate {
  opacity: 0;
  transform: translateY(var(--animate-section-translateY));
  transition-duration: var(--animate-time);
  transition-property: opacity, transform;
  transition-timing-function: var(--cubic-timing-section);
}
.footer.animated {
  opacity: 1;
  transform: translateY(0);
}
.footer shop-login-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  transform: translateX(13.5px);
}
.footer shop-follow-button {
  display: block;
  margin-top: 24px;
  text-align: center;
}
.footer .disclosure__list {
  background-color: var(--section-background, var(--color-background));
  border: 1px solid var(--color-text-primary);
  border-radius: 0;
  z-index: 1;
}
.footer .disclosure__link {
  color: var(--color-text-primary);
}
html.no-js .footer.need-animate {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 767.98px) {
  .footer .footer__navigation-item {
    width: 100%;
  }
  .footer .footer__navigation-item.footer__navigation-item--mobile {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border-secondary);
    border-top: 1px solid var(--color-border-secondary);
  }
  .footer .footer__navigation-item.footer__navigation-item--desktop {
    display: none;
  }
  .footer .footer__navigation-item.footer__navigation-item--desktop + .footer__navigation-item--mobile {
    border-top: 0;
  }
  .footer .footer__navigation-item.footer__navigation-item--contact {
    margin-top: 40px;
  }
  .footer .footer__navigation-item.footer__navigation-item--contact .footer__navigation-heading {
    display: none;
  }
  .footer .footer__navigation-item.footer__navigation-item--contact .footer__navigation-list {
    padding-top: 0;
  }
  .footer .footer__navigation-item.footer__navigation-item--contact-first {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .footer .footer__navigation-item.footer__navigation-item--contact-middle {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer .footer__navigation-item .footer__navigation-list-link {
    font-size: calc(var(--body-font-size) * 0.875);
    color: var(--color-text-thirdly);
  }
  .footer .footer__newsletter {
    order: -1;
    margin-bottom: 32px;
  }
  .footer .footer__navigation-list {
    gap: 12px;
    padding-top: 16px;
  }
  .footer .footer__logo-link {
    width: calc(var(--logo-image-width) * 0.46625);
  }
}
@media (min-width: 768px) {
  .footer .footer__main-content {
    flex-direction: row;
    align-items: flex-start;
    row-gap: 32px;
  }
  .footer .footer__navigation-item.footer__navigation-item--mobile {
    display: none;
  }
  .footer .footer__newsletter {
    align-items: flex-start;
    text-align: start;
  }
  .footer .footer__navigation-heading {
    font-size: calc(var(--body-font-size) * 0.875);
    font-weight: 500;
    word-wrap: break-word;
    text-transform: uppercase;
    color: var(--color-text-thirdly);
    margin-bottom: 24px;
  }
  .footer .social-links {
    margin-top: 12px;
  }
  .footer .footer__middle-container {
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer .footer__policy-list,
  .footer .footer__bottom-content {
    margin-top: 32px;
  }
  .footer .footer__policy-list a,
  .footer .footer__bottom-content a {
    font-size: var(--body-font-size);
  }
  .footer .footer__bottom-divider {
    font-size: var(--body-font-size);
  }
  .footer .footer__copyright {
    font-size: var(--body-font-size);
  }
  .footer .footer__selectors {
    margin-inline-end: 32px;
  }
  .footer shop-login-button {
    margin-top: 32px;
  }
}
@media (min-width: 1200px) {
  .footer .footer__logo-container {
    column-gap: 50px;
  }
}
@media (min-width: 1501px) {
  .footer {
    padding-top: 48px;
  }
}
@media screen and (max-width: 374px) {
  .footer .footer__selectors {
    align-items: center;
    row-gap: 16px;
  }
}
@media (max-width: 359px) {
  .footer {
    padding: 14px;
  }
}
.footer-form {
  width: 100%;
  margin-top: 16px;
}
.footer-form .footer-form__field {
  position: relative;
}
.footer-form .footer-form__button {
  margin-top: 16px;
}
.footer-form .footer-form__message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  column-gap: 10px;
}
.footer-form .footer-form__message .icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.footer-form .footer-form__message.footer-form__message--success {
  color: var(--color-text-success);
}
.footer-form .footer-form__message.footer-form__message--error {
  color: var(--color-text-attention);
}
@media (min-width: 768px) {
  .footer-form {
    margin-top: 24px;
  }
  .footer-form .footer-form__button {
    margin-top: 24px;
  }
}