.password-header-section {
  position: var(--password-header-position);
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--layer-sticky);
}

.password-header {
  width: 100%;
}

.password-header.password-header--transparent:not(.password-header--default) .password-header__container:not(:hover) .password-header__main {
  color: var(--section-text-transparent-color);
  background-color: transparent;
}

.password-header.password-header--transparent:not(.password-header--default) .password-header__container:not(:hover) .password-header__main .password-header__logo.password-header__logo--default {
  display: none;
}

.password-header.password-header--transparent:not(.password-header--default) .password-header__container:not(:hover) .password-header__main .password-header__logo.password-header__logo--transparent {
  display: block;
}

.password-header .password-header__main {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  color: var(--section-text-color);
  background-color: var(--section-background);
  transition-property: background-color, color;
  transition-duration: var(--timing-base);
  transition-timing-function: var(--easing-ease-out);
}

.password-header .password-header__ticker-items {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  will-change: transform;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--timing-base);
  font-size: calc(var(--body-font-size) * 0.75);
  padding: 16px 0;
}

.password-header .password-header__ticker-items.password-header__ticker-items--hide-bullets > * {
  padding: 0 12px;
}

.password-header .password-header__ticker-items.password-header__ticker-items--hide-bullets > *::after {
  display: none;
}

.password-header .password-header__ticker-items * {
  margin: 0;
  color: var(--section-ticker-text-color);
}

.password-header .password-header__ticker-items > * {
  padding: 0 24px;
  position: relative;
}

.password-header .password-header__ticker-items > *::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 24px;
  height: 1px;
  background-color: currentColor;
  transform: translate(50%, -50%);
}

.password-header .password-header__ticker-items h1 {
  font-size: calc(var(--heading-font-size) * 1.25);
}

.password-header .password-header__ticker-items h2 {
  font-size: calc(var(--heading-font-size) * 1.188);
}

.password-header .password-header__ticker-items h3 {
  font-size: calc(var(--heading-font-size) * 1.125);
}

.password-header .password-header__ticker-items h4 {
  font-size: calc(var(--heading-font-size) * 1.063);
}

.password-header .password-header__ticker-items h5 {
  font-size: var(--heading-font-size);
}

.password-header .password-header__ticker-items h6 {
  font-size: calc(var(--heading-font-size) * 0.875);
}

.password-header .password-header__ticker {
  display: flex;
  overflow: hidden;
  background-color: var(--section-ticker-background);
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-header .password-header__ticker:hover .password-header__ticker-items {
    animation-play-state: paused;
  }
}

.password-header .password-header__ticker:not(.is-loading) .password-header__ticker-items {
  opacity: 1;
  animation-name: password-header-ticker-animate;
  animation-duration: var(--section-ticker-mobile-movement-speed);
  animation-timing-function: linear;
  animation-delay: var(--timing-base);
  animation-iteration-count: infinite;
}

.password-header .password-header__col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.password-header .password-header__logo-wrapper {
  word-break: break-word;
}

.password-header .password-header__logo {
  object-fit: contain;
  object-position: var(--img-desktop-pos);
}

.password-header .password-header__logo.password-header__logo--default {
  display: block;
}

.password-header .password-header__logo.password-header__logo--transparent {
  display: none;
}

.password-header .password-header__logo-header {
  color: currentColor;
}

.password-header .password-header__button {
  padding: 0;
  font-size: calc(var(--body-font-size) * 0.75);
  line-height: 1.66;
  font-weight: 500;
  color: currentColor;
}

@media (min-width: 374px) {
  .password-header .password-header__col {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .password-header .password-header__ticker:not(.is-loading) .password-header__ticker-items {
    animation-duration: var(--section-ticker-desktop-movement-speed);
  }
  .password-header .password-header__ticker-items {
    font-size: calc(var(--body-font-size) * 0.875);
  }
  .password-header .password-header__ticker-items h1 {
    font-size: calc(var(--heading-font-size) * 1.313);
  }
  .password-header .password-header__ticker-items h2 {
    font-size: calc(var(--heading-font-size) * 1.25);
  }
  .password-header .password-header__ticker-items h3 {
    font-size: calc(var(--heading-font-size) * 1.188);
  }
  .password-header .password-header__ticker-items h4 {
    font-size: calc(var(--heading-font-size) * 1.125);
  }
  .password-header .password-header__ticker-items h5 {
    font-size: calc(var(--heading-font-size) * 1.063);
  }
  .password-header .password-header__ticker-items h6 {
    font-size: var(--heading-font-size);
  }
}

@media (min-width: 1200px) {
  .password-header .password-header__main {
    padding: 20px 64px;
  }
}

@keyframes password-header-ticker-animate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.password-popup {
  background-color: var(--popup-background-color);
  color: var(--popup-text-color);
}

.password-popup .password__header {
  display: flex;
  padding-bottom: 8px;
}

.password-popup .password-popup__close {
  display: inline-flex;
  opacity: 1;
  margin-inline-start: auto;
  padding: 16px;
  color: inherit;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.password-popup .password-popup__close:focus-visible {
  outline: 2px solid currentColor;
}

@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .password-popup .password-popup__close:hover {
    opacity: 0.5;
  }
}

.password-popup .password-popup__close svg {
  width: 24px;
  height: 24px;
}

.password-popup .password-popup__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.password-popup .password-popup__heading {
  color: var(--popup-text-color);
  text-align: center;
}

.password-popup .password-popup__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password-popup .password-popup__form-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.password-popup .password-popup__field .input-wrapper .input-label {
  color: var(--popup-input-placeholder-color);
}

.password-popup .password-popup__field .input-wrapper .input {
  background-color: transparent;
  border-color: var(--popup-input-border-color);
  color: var(--popup-input-color);
}

.password-popup .password-popup__field .input-wrapper .input:focus-visible {
  border-color: var(--popup-input-color);
}

.password-popup .password-popup__button {
  margin: 0 auto;
}

.password-popup .password-popup__submitted-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--popup-text-attention-color);
}

.password-popup .password-popup__submitted-title .icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-inline-end: 10px;
}

@media (min-width: 768px) {
  .password-popup {
    max-width: 600px;
  }
  .password-popup .password__header {
    padding: 8px;
  }
  .password-popup .password-popup__body {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}