.password-footer {
  width: 100%;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-top-color);
  color: var(--text-color);
}
.password-footer .password-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px;
}
.password-footer .password-footer__text {
  text-align: center;
  color: var(--text-color);
}
.password-footer .password-footer__text a {
  color: currentColor;
}
.password-footer .password-footer__text a:focus-visible {
  outline-color: currentColor;
}
.password-footer .password-footer__button-link {
  font-size: calc(var(--body-font-size) * 0.75);
  color: currentColor;
}
@media (min-width: 1200px) {
  .password-footer .password-footer__container {
    padding-left: 64px;
    padding-right: 64px;
  }
}