.password-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.password-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
}

.password-content .password-content__container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  padding-top: var(--section-offset-top-mobile);
  padding-bottom: var(--section-offset-bottom-mobile);
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.password-content .password-content__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.password-content .password-content__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
}

.password-content .password-content__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-mob-pos);
}

.password-content .password-content__image.need-animate {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transform: scale(1.25);
}

.password-content .password-content__image.animated {
  opacity: 1;
  transform: scale(1);
}

.password-content .password-content__content-box {
  z-index: var(--layer-raised);
  display: flex;
  flex: 1 1 auto;
  max-width: 800px;
  width: 100%;
  margin: auto;
  flex-direction: column;
  gap: 16px;
}

.password-content .password-content__heading {
  text-align: center;
  color: var(--heading-color);
}

.password-content .password-content__heading a {
  color: currentColor;
}

.password-content .password-content__text {
  text-align: center;
  color: var(--text-color);
}

.password-content .password-content__text a {
  color: currentColor;
}

.password-content .password-content__text a:focus-visible {
  outline-color: currentColor;
}

.password-content .password-content__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.password-content .password-content__form-field {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password-content .input-wrapper .input-label {
  color: var(--input-placeholder-color);
}

.password-content .input-wrapper .input {
  background-color: transparent;
  border-color: var(--input-border-color);
  color: var(--input-color);
}

.password-content .input-wrapper .input:focus-visible {
  border-color: var(--input-color);
}

.password-content .input-wrapper .input:-webkit-autofill {
  transition-delay: 9999s;
  transition-property: background-color, color;
}

.password-content .password-content__form-message {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.password-content .password-content__form-message.password-content__form-message--error {
  color: var(--text-attention-color);
}

.password-content .password-content__form-message.password-content__form-message--success {
  color: var(--text-success-color);
}

.password-content .password-content__form-message .icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-inline-end: 10px;
}

.password-content.is-current .password-content__form-message {
  display: flex;
}

@media (min-width: 768px) {
  .password-content .password-content__image {
    object-position: var(--img-desktop-pos);
  }
}

@media (min-width: 1200px) {
  .password-content .password-content__container {
    padding-top: var(--section-offset-top-desktop);
    padding-bottom: var(--section-offset-bottom-desktop);
    padding-left: 64px;
    padding-right: 64px;
  }
  .password-content .password-content__content-box {
    gap: 24px;
  }
}

html.no-js .newsletter-form__message {
  display: flex;
}