.product-tabs {
  overflow: hidden;
  padding-top: var(--inner-offset-top-mobile);
  padding-bottom: var(--inner-offset-bottom-mobile);
  background-color: var(--color-background);
}
.product-tabs .product-tabs__heading {
  margin-bottom: 24px;
}
.product-tabs .product-tabs__grid {
  display: flex;
  column-gap: 12px;
}
.product-tabs .product-tabs__collections {
  display: none;
  width: calc(33.33333% - 6px);
}
.product-tabs .product-tabs__collection {
  width: 100%;
  height: 100%;
}
.product-tabs .product-tabs__collection.is-active {
  animation: fade 1s forwards;
}
.product-tabs .product-tabs__main {
  width: 100%;
}
.product-tabs .product-tabs__buttons-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  column-gap: 32px;
}
.product-tabs .product-tabs__buttons-list {
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 32px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-tabs .product-tabs__buttons-list::-webkit-scrollbar {
  display: none;
}
.product-tabs .product-tabs__button {
  padding: 4px 0;
  font-family: var(--heading-font-family);
  font-size: calc(var(--body-font-size) * 1.5);
  line-height: 1.33;
  color: var(--color-text-thirdly);
  white-space: nowrap;
}
.product-tabs .product-tabs__button:focus-visible {
  outline-offset: -2px;
}
.product-tabs .product-tabs__button.is-active {
  color: var(--color-text-primary);
  pointer-events: none;
}
.product-tabs .product-tabs__button.is-active::after {
  width: 100%;
}
.product-tabs .product-tabs__slider-buttons-wrapper {
  display: none;
}
.product-tabs .product-tabs__slider-wrapper {
  width: 100%;
}
.product-tabs .product-tabs__slider-wrapper.is-active {
  animation: fade 1s forwards;
}
.product-tabs .product-tabs__slider {
  overflow: visible;
  cursor: grab;
}
.product-tabs .product-tabs__slider:not(.swiper-initialized) {
  cursor: default;
}
.product-tabs .product-tabs__slider:not(.swiper-initialized) .product-tabs__slider-content {
  display: flex;
  padding-bottom: 16px;
  overflow-x: auto;
  column-gap: 12px;
}
.product-tabs .product-tabs__slider:not(.swiper-initialized) .product-tabs__slide {
  flex-shrink: 0;
  width: 79.301%;
}
.product-tabs .product-tabs__slider-content.swiper-wrapper {
  align-items: unset;
}
.product-tabs .product-tabs__slide {
  height: auto;
}
@media (max-width: 767.98px) {
  .product-tabs .product-tabs__buttons-wrapper.product-tabs__buttons-wrapper--mobile-hidden {
    display: none;
  }
}
@media (min-width: 576px) {
  .product-tabs .product-tabs__slider:not(.swiper-initialized).product-tabs__slider--count-1 .product-tabs__slide {
    width: calc(50% - 6px);
  }
  .product-tabs .product-tabs__slider:not(.swiper-initialized) .product-tabs__slide {
    width: 43.2%;
  }
}
@media (min-width: 768px) {
  .product-tabs {
    padding-top: var(--inner-offset-top);
    padding-bottom: var(--inner-offset-bottom);
  }
  .product-tabs .product-tabs__slider-buttons-wrapper {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
  }
  .product-tabs .product-tabs__slider-buttons-wrapper:not(.is-initialized), .product-tabs .product-tabs__slider-buttons-wrapper:has(.swiper-button-lock) {
    display: none;
  }
  .product-tabs .product-tabs__collections {
    display: block;
  }
  .product-tabs .product-tabs__slider {
    overflow: hidden;
  }
  .product-tabs .product-tabs__slider:not(.swiper-initialized) .product-tabs__slide {
    width: calc(50% - 6px);
  }
  .product-tabs .product-tabs__main {
    width: calc(66.66667% - 6px);
  }
  .product-tabs .product-tabs__slide.product-tabs__slide--mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .product-tabs .product-tabs__heading {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .product-tabs .product-tabs__grid,
  .product-tabs .product-tabs__buttons-list {
    column-gap: 48px;
  }
  .product-tabs .product-tabs__collections {
    width: calc(33.33333% - 24px);
  }
  .product-tabs .product-tabs__main {
    width: calc(66.66667% - 24px);
  }
  .product-tabs .product-tabs__button {
    padding: 8px 0;
    font-size: calc(var(--body-font-size) * 1.75);
    line-height: 1.357;
  }
  .product-tabs .product-tabs__slider:not(.swiper-initialized).product-tabs__slider--count-1 .product-tabs__slide,
  .product-tabs .product-tabs__slider:not(.swiper-initialized) .product-tabs__slide {
    width: calc(33.33333% - 8px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}