.stores-locator {
  overflow: hidden;
  padding-top: var(--inner-offset-top-mobile);
  padding-bottom: var(--inner-offset-bottom-mobile);
  background-color: var(--color-background);
}
.stores-locator .stores-locator__heading {
  margin-bottom: 32px;
  text-align: center;
}
.stores-locator .stores-locator__wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
  justify-content: flex-end;
  position: relative;
  overflow-y: hidden;
}
.stores-locator .stores-locator__item {
  position: relative;
  padding: 16px;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border-secondary);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--animate-img-scale);
}
.stores-locator .stores-locator__item + .stores-locator__item:last-child {
  border-bottom: none;
}
.stores-locator .stores-locator__item.is-active {
  background-color: var(--color-background-secondary);
}
.stores-locator .stores-locator__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--color-border-primary);
  transition-property: height;
  transition-duration: var(--timing-short);
}
.stores-locator .stores-locator__item.is-active::before {
  height: 100%;
}
.stores-locator .stores-locator__item-wrapper {
  display: flex;
  width: 100%;
  padding: 0;
}
.stores-locator .stores-locator__item-wrapper:focus-visible {
  outline: 2px solid var(--color-text-primary, #000);
  outline-offset: 8px;
}
.stores-locator .stores-locator__item-box-image {
  min-width: 82px;
  width: 82px;
  height: 60px;
  position: relative;
  margin-inline-end: 15px;
}
.stores-locator .stores-locator__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-pos);
}
.stores-locator .stores-locator__item-image.stores-locator__item-image--placeholder {
  background-color: var(--color-img-placeholder-bg);
  fill: var(--color-text-primary);
}
.stores-locator .stores-locator__item-box-text {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.stores-locator .stores-locator__item-text {
  margin-top: 12px;
  line-height: 1.428;
  font-size: calc(var(--body-font-size) * 0.875);
  color: var(--color-text-thirdly);
}
.stores-locator .stores-locator__item-box-info {
  margin-inline-start: 97px;
  margin-top: 12px;
  line-height: 1.5;
  color: var(--color-text-primary);
}
.stores-locator .stores-locator__box-map {
  width: 100%;
}
.stores-locator .stores-locator__box-map.stores-locator__box-map--desktop {
  display: none;
}
.stores-locator .stores-locator__list {
  width: 100%;
  border: 1px solid var(--color-border-secondary);
}
.stores-locator .stores-locator__map-wrapper {
  display: block;
  position: relative;
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding-top: 0;
  transition-property: opacity;
  transition-duration: var(--timing-base);
  transition-delay: 0.1s;
}
.stores-locator .stores-locator__map-wrapper.is-active {
  height: 100%;
  padding-top: 81.633%;
  opacity: 1;
  visibility: visible;
}
.stores-locator .stores-locator__map-wrapper.stores-locator__map-wrapper--link {
  overflow: hidden;
}
.stores-locator .stores-locator__map-wrapper.stores-locator__map-wrapper--link:focus-visible {
  outline: 2px solid var(--color-text-primary, #000);
  outline-offset: -8px;
}
.stores-locator .stores-locator__map-wrapper.stores-locator__map-wrapper--link:focus-visible .stores-locator__map-image {
  transform: scale(1.05);
  z-index: -1;
}
.stores-locator .stores-locator__map-wrapper.stores-locator__map-wrapper--link .stores-locator__map-image {
  transition-property: transform;
  transition-duration: var(--timing-base);
}
@media (-moz-touch-enabled: 0), (hover: hover), (pointer: fine) {
  .stores-locator .stores-locator__map-wrapper.stores-locator__map-wrapper--link .stores-locator__map-image:hover {
    transform: scale(1.05);
  }
}
.stores-locator .stores-locator__map,
.stores-locator .stores-locator__map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: var(--img-pos);
}
.stores-locator .stores-locator__map.stores-locator__map-image--placeholder,
.stores-locator .stores-locator__map-image.stores-locator__map-image--placeholder {
  background-color: var(--color-img-placeholder-bg);
  fill: var(--color-text-primary);
}
.stores-locator .stores-locator__item-body {
  overflow: hidden;
  transition: 0.5s ease height;
}
html.no-js .stores-locator {
  opacity: 1;
}
@media (min-width: 768px) {
  .stores-locator {
    padding-top: var(--inner-offset-top);
    padding-bottom: var(--inner-offset-bottom);
  }
}
@media (min-width: 992px) {
  .stores-locator .stores-locator__list {
    width: 30.928%;
    height: 100%;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    overflow-y: auto;
  }
  .stores-locator .stores-locator__item-box-image {
    min-width: 110px;
    width: 110px;
    height: 80px;
    margin-inline-end: 16px;
  }
  .stores-locator .stores-locator__item-title {
    word-break: break-word;
  }
  .stores-locator .stores-locator__item-text {
    display: block;
    word-break: break-word;
  }
  .stores-locator .stores-locator__item-box-info {
    margin-inline-start: 126px;
  }
  .stores-locator .stores-locator__box-map {
    margin-top: 0;
    width: 69.073%;
  }
  .stores-locator .stores-locator__box-map.stores-locator__box-map--mobile {
    display: none;
  }
  .stores-locator .stores-locator__box-map.stores-locator__box-map--desktop {
    display: block;
  }
  .stores-locator .stores-locator__map-wrapper {
    padding-top: 0;
  }
  .stores-locator .stores-locator__map-wrapper.is-active {
    padding-top: 55.95%;
  }
}
@media (max-width: 991.98px) {
  .stores-locator .stores-locator__item {
    overflow: hidden;
    transition: height 0.5s ease, background-color 0.5s ease;
  }
  .stores-locator .stores-locator__item:not(.is-active) .stores-locator__item-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 16px;
  }
  .stores-locator .stores-locator__item:not(.is-active) .stores-locator__item-text {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}